.fixed-bg
  .fixed-bg__item.fixed-bg__item--1
  .fixed-bg__item.fixed-bg__item--2
  .fixed-bg__item.fixed-bg__item--3
  .fixed-bg__item.fixed-bg__item--4
  .fixed-bg__item.fixed-bg__item--5
  .fixed-bg__item.fixed-bg__item--6
  .fixed-bg__item.fixed-bg__item--7
