footer.main-footer
  .main-wrapper
    .main-footer-socials
      a(href="#").main-footer-socials__item.link-curtains
        span Facebook
        span Facebook
      a(href="#").main-footer-socials__item.link-curtains
        span LinkedIn
        span LinkedIn
      a(href="#").main-footer-socials__item.link-curtains
        span Instagram
        span Instagram
      a(href="#").main-footer-socials__item.link-curtains
        span TWITTER
        span TWITTER
    .main-footer-right
      a(href="#").link-curtains
        span Privacy Policy
        span Privacy Policy
      a(href="#").link-curtains
        span Terms of Use
        span Terms of Use
      p © Visartech Inc. 2019


include scripts
