header.main-header.popup-link
  .main-wrapper
    a(href="#intro").logo
    .main-header-list-layout
      .main-header-list-line
      ul.main-header-list
        li.main-header-list__item
          a(href="#company").main-header-list__item-link Company
        li.main-header-list__item
          a(href="#branches").main-header-list__item-link Branches
        li.main-header-list__item
          a(href="#services").main-header-list__item-link Services
        li.main-header-list__item
          a(href="#about").main-header-list__item-link About
        li.main-header-list__item
          a(href="#technologies").main-header-list__item-link Technologies
        li.main-header-list__item
          a(href="#contacts").main-header-list__item-link Contact

    .hamburger.hamburger--spin.popup-link.main-header__hamburger
      span.hamburger-box
        span.hamburger-inner


include menu-mobile


