.popup-layout.popup-layout--menu#menu-mobile
  .popup.popup--full
    .menu-mobile-bg
    .menu-mobile-main
      .main-wrapper
        ul.menu-mobile
          li.menu-mobile__item
            a(href="#").menu-mobile__item-link Company
          li.menu-mobile__item
            a(href="#").menu-mobile__item-link Branches
          li.menu-mobile__item
            a(href="#").menu-mobile__item-link Services
          li.menu-mobile__item
            a(href="#").menu-mobile__item-link About
          li.menu-mobile__item
            a(href="#").menu-mobile__item-link Technologies
          li.menu-mobile__item
            a(href="#").menu-mobile__item-link Contact

        ul.menu-mobile-socials
          li.menu-mobile-socials__item
            a(href="#").menu-mobile-socials__item-link Facebook
          li.menu-mobile-socials__item
            a(href="#").menu-mobile-socials__item-link LinkedIn
          li.menu-mobile-socials__item
            a(href="#").menu-mobile-socials__item-link Instagram
          li.menu-mobile-socials__item
            a(href="#").menu-mobile-socials__item-link TWITTER

        .menu-mobile-footer
          .menu-mobile-footer__item
            a(href="#") Privacy Policy
          .menu-mobile-footer__item
            a(href="#") Terms of Use
          .menu-mobile-footer__item
            p © Visartech Inc. 2019
