.sections-pagination
  p.sections-pagination__number.sections-pagination__number--current 01
  ul.sections-pagination-list
    li.sections-pagination-list__item.sections-pagination-list__item--active
    li.sections-pagination-list__item
    li.sections-pagination-list__item
    li.sections-pagination-list__item
    li.sections-pagination-list__item
    li.sections-pagination-list__item
    li.sections-pagination-list__item
  p.sections-pagination__number.sections-pagination__number--total 07
