.popup-layout.popup-layout--company#company-popup
  .popup.popup--full
    .popup__close
    .popup-company-slider
      .popup-company-slide
        .popup-company-main
          .main-wrapper
            .popup-company-main__content
              .popup-company-main__icon(style="background-image: url(img/home/company/home-company-item-1.svg)")
              h2.title.popup-company-main__title Code quality
              .popup-company-main__text
                | When you work with a large company, your remote software development teams are usually spread out across various time zones. This directly affects the formulation and execution of tasks, from which developers often never talk or even meet with each other. As a result, the quality of the code suffers.
                br
                br
                | Our development team works together for a 3+ years in the same squad for various software development projects. So you’ll be always working with the same people that main goal is to make you happy and return quality product for your investment.
              a(href="#").btn.popup-company-main__btn GET A QUOTE
            .popup-company-main__thumb
              .popup-company-main__thumb-inner(style="background-image: url(img/home/company/home-company-popup-thumb-1.png)")
      .popup-company-slide
        .popup-company-main
          .main-wrapper
            .popup-company-main__content
              .popup-company-main__icon(style="background-image: url(img/home/company/home-company-item-2.svg)")
              h2.title.popup-company-main__title Hidden charges
              .popup-company-main__text
                | While outsourcing may seem more cost-effective than hiring an entirely new employee or tech team to get the job done, oftentimes there are many hidden charges that only come to light after signing a contract. In particular, it can result in an avalanche of hidden charges that will leave you helpless across international borders.
                br
                br
                | We are providing two different pricing models and help you to chose the right one that match your project needs. You don't pay any additional fees (such as hardware, software and office maintenance fees). Also our business is registered in USA, so you are protected by Government Law (including any commercial information and copyrights)
              a(href="#").btn.popup-company-main__btn GET A QUOTE
            .popup-company-main__thumb
              .popup-company-main__thumb-inner(style="background-image: url(img/home/company/home-company-popup-thumb-2.png)")
      .popup-company-slide
        .popup-company-main
          .main-wrapper
            .popup-company-main__content
              .popup-company-main__icon(style="background-image: url(img/home/company/home-company-item-3.svg)")
              h2.title.popup-company-main__title Loss of control
              .popup-company-main__text
                | Running a business effectively means being in control of daily activities, and outsourcing IT work means that you lose a portion of that control over your business processes. Without being able to oversee the work that’s being done, project implementation timelines may lacking in ways that directly hinder the health of the organization.
                br
                br
                | We follow the stringent measures to execute our services within the scheduled time frame. Also, on the set-up stage we are determine the most convenient type of reporting for you: from period (week, two, month etc.) reports to participation in planning and tracking tasks in task managers.
              a(href="#").btn.popup-company-main__btn GET A QUOTE
            .popup-company-main__thumb
              .popup-company-main__thumb-inner(style="background-image: url(img/home/company/home-company-popup-thumb-3.png)")
      .popup-company-slide
        .popup-company-main
          .main-wrapper
            .popup-company-main__content
              .popup-company-main__icon(style="background-image: url(img/home/company/home-company-item-4.svg)")
              h2.title.popup-company-main__title Poor communication
              .popup-company-main__text
                | Outsourcing to other markets means working around a 8-14—hour time difference. This really puts a strain on communication because you would send your question and, at best, hope for a response the next day.
                br
                br
                | Instead of other outsource companies that begin their set-up mostly of freelancers after project are signed, we have a mature dedicated team that provide you a clear vision of workflow and communication process that would delight both parties. Even in critical situations.
              a(href="#").btn.popup-company-main__btn GET A QUOTE
            .popup-company-main__thumb
              .popup-company-main__thumb-inner(style="background-image: url(img/home/company/home-company-popup-thumb-4.png)")


  script.
    $(function () {
      $('.popup-company-slider').slick({
        adaptiveHeight: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        dots: true,
        speed: 0
      });
    });
