.section
  .section-inner.home-technologies.faded
    .main-wrapper
      h2.title.home-technologies__title Snapshot<br class="br-md"> of technologies we use

      .home-technologies-tabs
        .home-technologies-tab.home-technologies-tab--active(data-item="1")
          .home-technologies-tab__icon(style="background-image: url(img/home/technologies/home-technologies-tab-1.svg)")
          p.home-technologies-tab__text Game Development
        .home-technologies-tab(data-item="2")
          .home-technologies-tab__icon(style="background-image: url(img/home/technologies/home-technologies-tab-2.svg)")
          p.home-technologies-tab__text VR/AR for Brands
        .home-technologies-tab(data-item="3")
          .home-technologies-tab__icon(style="background-image: url(img/home/technologies/home-technologies-tab-3.svg)")
          p.home-technologies-tab__text Serious Games
        .home-technologies-tab(data-item="4")
          .home-technologies-tab__icon(style="background-image: url(img/home/technologies/home-technologies-tab-4.svg)")
          p.home-technologies-tab__text Web and Mobile Development

      .home-technologies-main-layout
        .home-technologies-main
          .home-technologies-main__circle.home-technologies-main__circle--1
          .home-technologies-main__circle.home-technologies-main__circle--2
          .home-technologies-list-layout
            .home-technologies-list-layout__item.home-technologies-list-layout__item--active(data-item="1")
              ul.home-technologies-list
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-01.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-02.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-04.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-04.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-02.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-03.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-01.svg)")
              a(href="#").btn.btn--md.home-technologies-main-btn GET A QUOTE

            .home-technologies-list-layout__item(data-item="2")
              ul.home-technologies-list
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-01.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-02.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-04.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-04.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-02.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-03.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-01.svg)")
              a(href="#").btn.btn--md.home-technologies-main-btn GET A QUOTE

            .home-technologies-list-layout__item(data-item="3")
              ul.home-technologies-list
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-01.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-02.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-04.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-04.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-02.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-03.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-01.svg)")
              a(href="#").btn.btn--md.home-technologies-main-btn GET A QUOTE

            .home-technologies-list-layout__item(data-item="4")
              ul.home-technologies-list
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-01.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-02.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-04.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-04.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-02.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-03.svg)")
                li.home-technologies-item
                  .home-technologies-item__thumb(style="background-image: url(img/home/technologies/home-technologies-item-01-01.svg)")
              a(href="#").btn.btn--md.home-technologies-main-btn GET A QUOTE


  script.
    $(function () {
      if ($(window).width() < 720) {
        $('.home-technologies-list').slick({
          adaptiveHeight: true,
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true,
          dots: false
        });
      }

      // technologies tabs
      $('.home-technologies-tab').click(function(){
        if(!$(this).hasClass('home-technologies-tab--active')){
          var itemNumber = $(this).data('item');
          $('.home-technologies-tab--active').removeClass('home-technologies-tab--active');
          $(this).addClass('home-technologies-tab--active');
          $('.home-technologies-list-layout__item--active').removeClass('home-technologies-list-layout__item--active');
          $('.home-technologies-list-layout__item[data-item=' + itemNumber + ']').addClass('home-technologies-list-layout__item--active');
        }
      });
    });
