.section
  .section-inner.home-numbers.faded
    .main-wrapper
      h2.title.home-numbers__title Visartech in Numbers
      h3.h3.home-numbers__subtitle What makes a difference between us<br class="br-lg"> and another outsourcing company

      .home-numbers-list-layout
        ul.home-numbers-list
          li.home-numbers-item
            .home-numbers-item__number
              .home-numbers-item__circle
                .home-numbers-item__circle-inner
              h2 3
              h3 years
            .home-numbers-item__text our average employee works in the company
          li.home-numbers-item
            .home-numbers-item__number
              .home-numbers-item__circle
                .home-numbers-item__circle-inner
              h2 5.4
              h3 years
            .home-numbers-item__text is an average experience<br> of our developers
          li.home-numbers-item
            .home-numbers-item__number
              .home-numbers-item__circle
                .home-numbers-item__circle-inner
              h2 6
              h3 persents
            .home-numbers-item__text of our turnover that we invest in our employees education, conferences and other activities inside the company
          li.home-numbers-item
            .home-numbers-item__number
              .home-numbers-item__circle
                .home-numbers-item__circle-inner
              h2 3.7
              h3 persents
            .home-numbers-item__text is an attrition rate in Visartech during the whole time. We care about employees to make them happy, and they respond to us with high speed and quality of service, making our customers happy
