.section
  .section-inner.home-intro.faded
    .main-wrapper
      .home-intro-illustration
        .home-intro-illustration__main
        .home-intro-illustration__clouds
      .home-intro__subtitle-layout
        h2.subtitle.home-intro__subtitle Welcome<br class="br-sm"> To Visartech Inc.
      h1.title.home-intro__title Get Your Dedicated<br> IT Department
      a(href="#company").btn.home-intro__btn SHOW ME HOW