.section
  .section-inner.home-services.faded
    .main-wrapper
      h2.title.home-services__title Explore our development<br class="br-sm"> offerings
      h3.h3.home-services__subtitle To increase efficiency and care on each product personally, we are<br> divided on the four main branches

      ul.home-services-list
        li.home-services-item
          h2.title.home-services-item__section-title Explore our development offerings
          .home-services-item__thumb(style="background-image: url(img/home/services/home-services-item-1.png)")
          .home-services-item__content
            h2.home-services-item__title Team Extension
            p Our developers supplement team<br> as additional resources
            h3 Key Benefit:
            p An easy start with high scalability
            h3 Other benefits:
            ul
              li
                b 1-month trial period
                | that can be terminated at any time on a valid reason
              li
                b Predictable budget
                | based on the monthly cost
              li
                b Constant technical lead supervision
                | of the project that guarantees bug-free quality<br class="br-lg"> and on time delivery
          a(href="#").btn.btn--md.home-services-item__btn GET A QUOTE
        li.home-services-item
          h2.title.home-services-item__section-title Explore our development offerings
          .home-services-item__thumb(style="background-image: url(img/home/services/home-services-item-2.png)")
          .home-services-item__content
            h2.home-services-item__title Dedicated Team
            p Our tech team take over your development process in full, while your stuff is occupied with other business function
            h3 Key Benefit:
            p Leave your tech to pro, while you can focus on the core business processes
            h3 Other benefits:
            ul
              li
                b Cost-efficiency
                | It is reasonable to hire a dedicated team then gather<br class="br-lg"> and manage a team on you own
              li
                b Focused approach
                | Dedicated team can be reconfigured at every stage of the project according to current needs
              li
                b Fast-paced development cycle
                | Our developers will streamline the workflow and automate<br class="br-lg"> the routine tasks
          a(href="#").btn.btn--md.home-services-item__btn GET A QUOTE
