/* font-family: "MavenPro"; */
@font-face {
 font-family: "MavenPro";
 src: url("../fonts/MavenPro/MavenPro-Regular.ttf");
 src: url("../fonts/MavenPro/MavenPro-Regular.ttf") format("truetype");
 font-style: normal;
 font-weight: 400;
}
@font-face {
 font-family: "MavenPro";
 src: url("../fonts/MavenPro/MavenPro-Bold.ttf");
 src: url("../fonts/MavenPro/MavenPro-Bold.ttf") format("truetype");
 font-style: normal;
 font-weight: 700;
}
@font-face {
 font-family: "MavenPro";
 src: url("../fonts/MavenPro/MavenPro-Medium.ttf");
 src: url("../fonts/MavenPro/MavenPro-Medium.ttf") format("truetype");
 font-style: normal;
 font-weight: 500;
}
@font-face {
 font-family: "MavenPro";
 src: url("../fonts/MavenPro/MavenPro-Black.ttf");
 src: url("../fonts/MavenPro/MavenPro-Black.ttf") format("truetype");
 font-style: normal;
 font-weight: 900;
}

