extends ../layouts/main

block contents
  include ../partials/header
  include ../partials/fixed-bg
  include ../partials/preloader

  .main#home
    include ../pages-partials/home-intro
    include ../pages-partials/home-company
    include ../pages-partials/home-branches
    include ../pages-partials/home-services
    include ../pages-partials/home-about
    include ../pages-partials/home-numbers
    include ../pages-partials/home-refund
    include ../pages-partials/home-technologies
    include ../pages-partials/home-contacts


  include ../pages-partials/home-company/company-popup
