.popup-layout.popup-layout--company#company-popup-1
  .popup.popup--full
    .popup__close
    .main-wrapper
      .popup-company-main
        .popup-company-main__content
          .popup-company-main__icon(style="background-image: url(img/home/company/home-company-item-1.svg)")
          h2.title.popup-company-main__title Code quality
          .popup-company-main__text
            | When you work with a large company, your remote software development teams are usually spread out across various time zones. This directly affects the formulation and execution of tasks, from which developers often never talk or even meet with each other. As a result, the quality of the code suffers.
            br
            br
            | Our development team works together for a 3+ years in the same squad for various software development projects. So you’ll be always working with the same people that main goal is to make you happy and return quality product for your investment.
          a(href="#").btn.popup-company-main__btn GET A QUOTE
        .popup-company-main__thumb
          .popup-company-main__thumb-inner(style="background-image: url(img/home/company/home-company-popup-thumb-1.png)")

