.popup-layout.popup-layout--company#company-popup-4
  .popup.popup--full
    .popup__close
    .main-wrapper
      .popup-company-main
        .popup-company-main__content
          .popup-company-main__icon(style="background-image: url(img/home/company/home-company-item-4.svg)")
          h2.title.popup-company-main__title Poor communication
          .popup-company-main__text
            | Outsourcing to other markets means working around a 8-14—hour time difference. This really puts a strain on communication because you would send your question and, at best, hope for a response the next day.
            br
            br
            | Instead of other outsource companies that begin their set-up mostly of freelancers after project are signed, we have a mature dedicated team that provide you a clear vision of workflow and communication process that would delight both parties. Even in critical situations.
          a(href="#").btn.popup-company-main__btn GET A QUOTE
        .popup-company-main__thumb
          .popup-company-main__thumb-inner(style="background-image: url(img/home/company/home-company-popup-thumb-4.png)")


