.popup-layout.popup-layout--company#company-popup-3
  .popup.popup--full
    .popup__close
    .main-wrapper
      .popup-company-main
        .popup-company-main__content
          .popup-company-main__icon(style="background-image: url(img/home/company/home-company-item-3.svg)")
          h2.title.popup-company-main__title Loss of control
          .popup-company-main__text
            | Running a business effectively means being in control of daily activities, and outsourcing IT work means that you lose a portion of that control over your business processes. Without being able to oversee the work that’s being done, project implementation timelines may lacking in ways that directly hinder the health of the organization.
            br
            br
            | We follow the stringent measures to execute our services within the scheduled time frame. Also, on the set-up stage we are determine the most convenient type of reporting for you: from period (week, two, month etc.) reports to participation in planning and tracking tasks in task managers.
          a(href="#").btn.popup-company-main__btn GET A QUOTE
        .popup-company-main__thumb
          .popup-company-main__thumb-inner(style="background-image: url(img/home/company/home-company-popup-thumb-3.png)")


