.popup-layout.popup-layout--company#company-popup-2
  .popup.popup--full
    .popup__close
    .main-wrapper
      .popup-company-main
        .popup-company-main__content
          .popup-company-main__icon(style="background-image: url(img/home/company/home-company-item-2.svg)")
          h2.title.popup-company-main__title Hidden charges
          .popup-company-main__text
            | While outsourcing may seem more cost-effective than hiring an entirely new employee or tech team to get the job done, oftentimes there are many hidden charges that only come to light after signing a contract. In particular, it can result in an avalanche of hidden charges that will leave you helpless across international borders.
            br
            br
            | We are providing two different pricing models and help you to chose the right one that match your project needs. You don't pay any additional fees (such as hardware, software and office maintenance fees). Also our business is registered in USA, so you are protected by Government Law (including any commercial information and copyrights)
          a(href="#").btn.popup-company-main__btn GET A QUOTE
        .popup-company-main__thumb
          .popup-company-main__thumb-inner(style="background-image: url(img/home/company/home-company-popup-thumb-2.png)")


